.list-group-item > span,
.list-group-item > img {
	cursor: pointer;
}

video {
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

#matn {
    margin-left: 50%;
    color: #fff;
    font-size: 20px;
    background: ;
    width: 50%;
}


.btncount{
    margin-left: 50%
}